{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/shop/panier.css') }}?v=1.0">
{% endblock %}

{% block body %}
<h1>Votre Panier</h1>
        {% for key, item in cart %}
    <div class="cart-item">
        <div class="cart-image">
            <img src="{{ asset(item.image) }}" alt="{{ item.name }}">
        </div>
        <div class="cart-details">
            <h3>{{ item.name }}</h3>
            <p>Prix : {{ item.price }} €</p>
            <p>Taille : {{ item.size is defined ? item.size : 'Non spécifiée' }}</p>
        </div>
        <div class="cart-actions">
            <!-- Formulaire pour supprimer l'article -->
            <form action="{{ path('cart_remove', { id: key }) }}" method="post">
                <button type="submit">RETIRER DU PANIER</button>
            </form>
        </div>
    </div>
    {% else %}
        <p class="vide">Votre panier est vide.</p>
    {% endfor %}

<div class='cart'>
    <p>TOTAL : {{ totalPrice }} €</p>
    <div class="boutons">
        {% if cart is not empty %}
            <a class='btn' href="{{ path('app_checkout')}}" class="btn btn-primary">FINALISER MA COMMANDE</a>
            <a class='btn2' href="{{ path('shop')}}" class="btn btn-primary">CONTINUER MES ACHATS</a>
        {% endif %}
    </div>
</div>
{% endblock %}