{% extends 'base2.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/body.css') }}?v=1.0">
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">
            {{ flash_error }}
        </div>
    {% endfor %}

    {# Affiche les erreurs globales du formulaire (non liées à un champ spécifique) #}
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <p>S'inscrire</p>
    <div class="login2">
        <div class="un">
            {{ form_row(registrationForm.username, {
                label: 'Nom utilisateur :'
            }) }}
            {{ form_row(registrationForm.email, {
                label: 'Email :'
            }) }}
            {{ form_row(registrationForm.shippingAddress, {
                label: 'Adresse de livraison :'
            }) }}
        </div>

        <div class="deux">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe :'
            }) }}
            {{ form_row(registrationForm.confirmPassword, {
                label: 'Confirmer mot de passe :'
            }) }}
        </div>

        <button type="submit">Créer un compte</button>    
    </div>

    <p>Déjà inscrit ?</p>
    <a href="{{ path('app_login') }}" class="btn-secondary">Se connecter</a>
    {{ form_end(registrationForm) }}
{% endblock %}