{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/admin.css') }}?v=1.0">
{% endblock %}

{% block title %}Créer un sweat-shirt{% endblock %}

{% block body %}
    <h1>Ajouter un sweatshirt</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn2">Ajouter</button>
    {{ form_end(form) }}

    <a class="btn2" href="{{ path('admin_sweatshirt_index') }}">Retour au tableau de bord</a>
{% endblock %}