{% extends 'base2.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/body.css') }}?v=1.0">
{% endblock %}

{% block body %}

<h1>Produits en avant</h1>
<section class="products-section">
    {% for product in promotedProducts %}
    <div class="product-card">
        {% if product.image %}
        <img src="{{ asset(product.image) }}" alt="Image de {{ product.name }}" class="product-image"/>
        {% endif %}
        <div class="product-details">
            <h2>{{ product.name }}</h2>
            <p class="product-price">{{ product.price }} €</p>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}
