<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Notre Site{% endblock %}</title>
    {% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/style.css') }}?v=1.0">
    {% endblock %}
</head>
    <nav>
    <a href="{{ path('home') }}"><img src="{{ asset('images/Logo.png') }}" alt="Logo du site" class="form-image"></a>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('shop') }}">Boutique</a></li>
            <li><a href="{{ path('cart') }}"">Panier</a></li>
            <li><a href="{{ path('app_logout') }}">Se deconnecter</a></li>
        </ul>
    </nav>
    <main>
       {% block body %}
        {% endblock %}
    </main>
<footer class="site-footer">
    <p class="company-name">Stubborn</p>
    <p class="address">Adresse : Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
    <p class="contact">Contact : stubborn@blabla.com</p>
    <p class="slogan">Don't compromise on your look</p>
</footer>
</html>
