<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Notre Site{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('shop') }}">Boutique</a></li>
            <li><a href="{{ path('cart') }}">Panier</a></li>
        </ul>
    </nav>

    <main>
       {% block body %}
        <h1>Notre Boutique</h1>
        <ul>
            {% for product in products %}
                <li>
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <strong>{{ product.price }} €</strong>
                    <!-- Bouton Ajouter au Panier -->
                    <form action="{{ path('cart_add', { id: loop.index }) }}" method="POST">
                        <button type="submit">Ajouter au Panier</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </main>
</body> 
</html>
